<h1>Sign Up Below:</h1>

<form method="POST" action="/registrations">
  <label for="name">Name:</label>
  <input type="text" id="name" name="name">
  <label for="email">Enter your email:</label>
<input type="email" id="email" name="email">
<label for="pwd">Password:</label>
<input type="password" id="pwd" name="password">
  <input type="submit">
</form>
